#postCont{
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
  padding: 0px;
  margin: 0 auto;
  border-bottom: 2px solid black;
}
#postImg{
  max-width: inherit;
  max-height: 100px;
  min-width: 0px;
  min-height: 0px;
  border: 1px solid #f2e1c0;
  border-radius: 2px;
}
#link{
  background-color: #e497ff;
  border: 1px solid black;
  color: black;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  width: max-content;
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 90%;
}
#openlink{
  background-color: #2297ff;
  border: 1px solid black;
  color: black;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  width: max-content;
  margin-left: 5px;
  margin-bottom: 10px;
  font-size: 90%;
}
#userLink{
  background: none;
  border: none;
  font-weight: bold;
  padding: 0px;
  padding-left:2px;
  padding-right:5px;
}
#caption{
  background-color: #ffffff;
  border-radius: 3px;
  margin-left:2px;
  padding: 3px;
  margin-bottom: 5px;
}
#followBut{
  width:max-content;
  height: min-content;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 4px;
  padding-left: 4px;
  margin-top: 3px;
  margin-left: 3px;
  background-color: #2297ff;
  border: 1px solid black;
  border-radius: 7px;
  color: #dbedd9;
  font-size: small;
}


#mypostrow{
  height: 92%;
  width: inherit;
  margin: 0 auto;
  padding: 0px;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}
#mypostrow::-webkit-scrollbar {
  display: none;
}
#myPostCont{
  width: 100%;
  height: fit-content;
  background-color: #e497ff;
  padding: 0px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
#days{
  margin: 0 auto;
  text-align: center;
  width: 100%; 
  background-color: #ffffff;
  padding: 0px;
}
#myDays{
  margin: auto;
  text-align: center;
  width: 100%; 
  background-color: #e497ff;
  padding: 0px;
}
#myImg{
  max-width: inherit;
  max-height: 80px;
  min-width: 0px;
  min-height: 0px;
  border: 1px solid #f2e1c0;
  border-radius: 2px;
}
#myCaption{
  background-color: #ffffff;
  font-size: smaller;
  border-radius: 3px;
}
#myLink{
  padding: 8px;
  padding-top: 0px;
  padding-bottom: 2px;
  margin-left: 7px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #2297ff;
  border: 1px solid black;
  color: black;
}

#comments{
  background-color: #ffffff;
  border-radius: 2px;
  margin-left:5px;
  margin-right: 5px;
  padding: 2px;
  margin-top: 0px;
  margin-bottom: 7px;
}
#commentBut{
  background-color: #2297ff;
  border: 1px solid black;
  border-radius: 3px;
  color: #dbedd9;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  width: max-content;
}
#commentInput{
  min-width: 80%; 
  min-height: 50px;
  background-color: #ffffff;
  color: black;
  border: 2px solid black;
  border-radius: 4px;
}