#profile{
    background-color: #448665;
    margin: 0 auto;
    height: inherit;
    padding: 0px;
}
#nostuff{
    background-color: #448665;
    margin: 0px;
    height: inherit;
}
#yourstuff{
    background-color: #448665;
    margin: 0px;
    padding:0px;
    height: inherit;
}
#middlecol{
    margin:0px;
    padding:0px;
    background-color: #699E84;
    height: inherit;
}
#bigcontainer{
    background-color: #699E84;
    margin: 0px; 
    padding: 0px;
    height: 100vh;
}
#bigrow{
    height: 92vh;
    width: inherit;
    margin: 0 auto;
    text-align: center;
}
#navrow{
    background-color: #315c47;
    height: 8vh; 
    margin: 0px;
    padding: 5px;
    width: inherit;
}
#medrow{
    margin: 0 auto;
    height: inherit;
    padding: 0px;
}
#medcol{
    margin: 0 auto;
    height: inherit;
    padding: 0px;
}
#explorecontainer{
    background-color: #699E84;
    margin: auto; 
    padding: 0px;
    width: 100%;
    height: 100%;
}
#explorerow{
    height: 94%;
    width: inherit;
    margin: auto;
    padding: 0px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
#explorerow::-webkit-scrollbar {
    display: none;
}
#switchfeedrow{
    height: 6%;
    width: inherit;
    margin: auto;
    padding: 0px;
}
#submitLinkRow{
    height: max-content;
    width: max-content;
    padding-bottom: 0px;
    margin: 0 auto;
}
#logoutBut{
    background-color: #477a61;
    border-color: black;
    color: black;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 2px;
}