#profile{
    background-color: #448665;
    margin: 0px;
}
#nostuff{
    background-color: #448665;
    margin: 0px;
}
#yourstuff{
    background-color: #448665;
    margin: 0px;
}
#middlecol{
    margin:0px;
    background-color: #699E84;
    height: inherit;
}
#bigcontainer{
    background-color: #699E84;
    margin: 0px; 
    padding: 0px;
    height: 100vh;
}
#bigrow{
    height: 92vh;
    width: 100vw;
    margin: 0px;
    text-align: center;
}
#navrow{
    background-color: #315c47;
    height: 8vh; 
    margin: 0px;
    padding: 5px;
    width: inherit;
}
#explorecontainer{
    background-color: #699E84;
    margin: auto; 
    padding: 3px;
    padding-top: 5px;
    margin-top: 5px;
    width: 100%;
    height: 98%;
}
#explorerow{
    height: 85%;
    width: inherit;
    margin: auto;
    padding: 0px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
#explorerow::-webkit-scrollbar {
    display: none;
}
#submitLinkRow{
    height: max-content;
    width: max-content;
    margin: auto;
    background-color: #448665;
    margin-top: 15px;
    padding-bottom: 0px;
}